@font-face {
  font-family: Roboto;
  src:url(Roboto-Regular.ttf);
}


html{
  height: 100%;
}

body  {
  min-height: 100%;
  margin:0px;
  font-family: Roboto;
  overflow: hidden;
}

#maker {
  position: absolute;
  transform: translate(-50%, -50%);
  top:2.5%;
  left:4%;
}


#grid-1{
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows:800px;
  grid-template-areas:   "nav container container container container container "

}

nav{
  grid-area: nav;
  display:grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-template-areas:  ". . . . . ."
                        ". . . . . ."
                        ". home home home home ."
                        ". opdracht1 opdracht1 opdracht1 opdracht1 ."
                        ". opdracht2 opdracht2 opdracht2 opdracht2 ."
                        ". opdracht3 opdracht3 opdracht3 opdracht3 ."
                        ". contact contact contact contact ."
                        ". . . . . ."
                        ". . . . . ."
}

p{
  margin:0;
}

#homeDiv{
  grid-area: home;
  text-align: center;
}
#opdracht1Div{
  grid-area: opdracht1;
  text-align: center;
}
#opdracht2Div{
  grid-area: opdracht2;
  text-align: center;
}
#opdracht3Div{
  grid-area: opdracht3;
  text-align: center;
}
#contactDiv{
  grid-area: contact;
  text-align: center;
}
.activeBtn{
  font-size: 30px !important;
}


.button{
  text-decoration: none;
  color:#29b6f6;
  font-size:22px;
  display: block;
}
span{
    padding-bottom: 15px;
    border-bottom:2px solid transparent;
    transition:all 1s;
	will-change:padding, border-bottom;
}
span:hover{
  padding-bottom: 2px;
  border-bottom:2px solid #29b6f6;
  outline: none;
}

.btn {
  border-radius: 3px;
  border: none;
  background-color: white;
  font-family: Roboto;
  font-size: 20px;
}


#container{
  grid-area: container;
  width:200%;
}

.content{
  height: 100%;
  position: relative;
  top:0;
  width: 50%;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  background: linear-gradient(270deg, #36D1DC, #5B86E5 );
  will-change:left, z-index;

}
.active{
  left:0 !important;
  z-index: 0 !important;
}
.nonActive{
  left:50%;
  z-index: -1;
}

#quote{
  font-size: 26px;
  width:700px;

  position: absolute;
  transform: translate(-50%, -50%);
  left:50%;
  top:47%;
}
#credit{
  font-style: italic;
  text-align: right;
  font-size: 24px;
  margin-right: 45px;
}

.heading{
  text-align: center;
  font-size: 200%;
}
#opdracht1 {
  top:-100%;
  display:grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: 80px 10px 700px ;
  grid-gap:20px;
  grid-template-areas:  ".  .  .  .  headOp1 headOp1 headOp1 headOp1 headOp1 headOp1 headOp1  .  .  .  ."
                        ".  .  .  .  .  .  .  .  .  .  .  .  .  .  ."
                        ". . . imgOp1 imgOp1 imgOp1 imgOp1 imgOp1 imgOp1 imgOp1 imgOp1 imgOp1 . . . "

}
.opdracht1B{
  grid-template-areas:  ".  .  .  .  headOp1 headOp1 headOp1 headOp1 headOp1 headOp1 headOp1  .  .  .  ."
                        ".  .  .  .  .  .  .  .  .  .  .  .  .  .  ."
                        ". . . . textOp1 textOp1 textOp1 textOp1 textOp1 textOp1 textOp1 . . . . "
!important;
}
#changeOp1{
  height: 50px;
}

#headOp1{
  grid-area: headOp1;
}
#imgOp1{
  grid-area: imgOp1;
  width:100%;
}
#textOp1{
  display: none;
  font-size: 20px;
  line-height: 120%;
  text-align: justify;
}


#opdracht2 {
  top:-200%;
  display:grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: 80px 10px 700px ;
  grid-gap:20px;
  grid-template-areas:  ".  .  .  .  headOp2 headOp2 headOp2 headOp2 headOp2 headOp2 headOp2 headOp2  .  .  .  ."
                        ".  .  .  .  .  .  .  . . .  .  .  .  .  .  ."
                        ". . . . . . imgOp2 imgOp2 imgOp2 imgOp2 . . . . . . ";
}
.opdracht2B{
  grid-template-areas: ".  .  .  .  headOp2 headOp2 headOp2 headOp2 headOp2 headOp2 headOp2 headOp2  .  .  .  ."
                        ".  .  .  .  .  .  .  . . .  .  .  .  .  .  ."
                        ". . . . textOp2 textOp2 textOp2 textOp2 textOp2 textOp2 textOp2 textOp2 . . . . "
 !important;
}
#changeOp2{
  height: 50px;
}
#headOp2{
  grid-area: headOp2;
}
#imgOp2{
  grid-area: imgOp2;
  width:90%;
}
#textOp2{
  display: none;
  font-size: 20px;
  line-height: 120%;
  text-align: justify;
}

#opdracht3 {
  top:-300%;
  display:grid;
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: 80px 10px 700px ;
  grid-gap:20px;
  grid-template-areas:  ".  .  .  . . headOp3 headOp3 headOp3  headOp3 headOp3 headOp3 headOp3 . .  .  .  ."
                        ".  .  .  .  .  .  .  . . . . .  .  .  .  .  ."
                        ". . . . imgOp3A imgOp3A imgOp3A imgOp3A . imgOp3B imgOp3B imgOp3B imgOp3B . . . . "


}
.opdracht3B{
  grid-template-areas: ".  .  .  . . headOp3 headOp3 headOp3  headOp3 headOp3 headOp3 headOp3 . .  .  .  ."
                        ".  .  .  .  .  .  .  . . . . .  .  .  .  .  ."
                        ". . . . textOp3 textOp3 textOp3 textOp3 textOp3 textOp3 textOp3 textOp3 textOp3 . . . . "
                        !important;
}
#changeOp3{
  height: 50px;
}
#headOp3{
  grid-area: headOp3;
}
.imgOp3{

  width:100%;
}
#imgOp3A{
  grid-area: imgOp3A;
}
#imgOp3B{
  grid-area: imgOp3B;
}
#textOp3{
  display: none;
  font-size: 20px;
  line-height: 120%;
  text-align: justify;
}

#contact {
  top:-400%;
}

#changeOp3, #changeOp2, #changeOp1{
  position: absolute;
  transform: translate(-50%, -50%);
  left:50%;
  top:93%;
  width: 200px;
}

.form-grid{
  display:grid;
  grid-template-columns: repeat(12, 1fr); ;
  grid-template-rows: 75px 50px 50px 400px 50px 50px ;
  grid-gap:20px;
  grid-template-areas:  ". . . . . headContact headContact . . . . ."
                        ". . nameLabel nameLabel nameInput nameInput nameInput nameInput . . . ."
                        ". . emailLabel emailLabel emailInput emailInput emailInput emailInput . . . ."
                        ". . messageLabel messageLabel messageInput messageInput messageInput messageInput . . . ."
                        ". . . . . submit submit . . . . ."
                        ". . response response response response response response response response . .";
}

#headContact{
  grid-area: headContact;
}

.label{
  margin-top: 12px;
  margin-left: 15px;
  font-size: 20px;
  text-align: right;
}

.input{
  font-size: 20px;
  border-radius: 3px;
  border:1px solid transparent;
  resize: none;
  padding-left: 5px;
  font-family: Roboto;
}
.input:focus{
  outline: none;
}

#nameLabel{
  grid-area: nameLabel;
}
#nameInput{
  grid-area: nameInput;
}
#emailLabel{
  grid-area: emailLabel;
}
#emailInput{
  grid-area:  emailInput;
}
#messageLabel {
  grid-area: messageLabel;
}
#messageInput{
  grid-area: messageInput;
  padding-top: 12px;
}
#submit{
  grid-area: submit;
  transition: background-color 2s, color 2s;
  will-change: background-color, color;
}

.submitSucces{
  background-color: green !important;
  color:white;
}

#response{
  grid-area: response;
  text-align: center;
}

@media screen and (max-height: 920px) {
  #opdracht1{
      grid-template-rows: 50px 25px 500px;
  }

  #opdracht2{
    grid-template-rows: 50px 25px 600px;
  }

  #opdracht3{
    grid-template-rows: 50px 25px 560px;
  }
}

@media screen and (max-height: 850px) {
  #textOp1, #textOp2, #textOp3{
    font-size:19px;
  }
}
@media screen and (max-height: 800px) {
  .form-grid{
    grid-template-rows: 75px 50px 50px 300px 50px 50px;
  }
  #response{
    margin:0;
  }
}


@media (max-width: 1650px) and (max-height: 800px) {

  #textOp1, #textOp2, #textOp3{
    font-size:18px;
  }
  .opdracht3B{
    grid-template-areas: ".  .  .  . . headOp3 headOp3 headOp3  headOp3 headOp3 headOp3 headOp3 . .  .  .  ."
                          ".  .  .  .  .  .  .  . . . . .  .  .  .  .  ."
                          ". . . textOp3 textOp3 textOp3 textOp3 textOp3 textOp3 textOp3 textOp3 textOp3 textOp3 textOp3 .  . . "  !important;
  }
  .opdracht2B{
    grid-template-areas: ".  .  .  .  headOp2 headOp2 headOp2 headOp2 headOp2 headOp2 headOp2 headOp2  .  .  .  ."
                          ".  .  .  .  .  .  .  . . .  .  .  .  .  .  ."
                          ". . . textOp2 textOp2 textOp2 textOp2 textOp2 textOp2 textOp2 textOp2 textOp2 textOp2 . . . "!important;
  }
  .opdracht1B{
    grid-template-areas:  ".  .  .  .  headOp1 headOp1 headOp1 headOp1 headOp1 headOp1 headOp1  .  .  .  ."
                          ".  .  .  .  .  .  .  .  .  .  .  .  .  .  ."
                          ". . . textOp1 textOp1 textOp1 textOp1 textOp1 textOp1 textOp1 textOp1 textOp1 . . . "!important;
  }
}
@media screen and (max-width: 1350px) {
  .heading{
    font-size:175%;
  }
  .button{
    font-size:19px !important;
  }
  .activeBtn{
    font-size: 27px !important;
  }
  #maker {
    left:5%;
  }

}
@media screen and (max-width: 1200px) {
  .button{
    font-size:17px !important;
  }
  .activeBtn{
    font-size: 25px !important;
  }
  #maker {
    left:5.5%;
  }

}


@media screen and (max-height: 660px) {
  .form-grid{
    grid-template-rows: 75px 50px 50px 220px 50px 50px;
  }
  #textOp1, #textOp2, #textOp3{
    font-size:15px;
  }

}
